/*
*	Orange - #fe4918
*	Blue - #2da9ff
*	Green - #57c2be
*	Pink - #fe4918
*	Berry - #ff8208
*/
@import url(http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900);

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    text-align: center;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#hello {
    background: #fe4918;
    opacity: .95;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    color: white;
    min-height: 850px;
}

#hello .tsl {
    margin-top: 40px;
}

#hello h1 {
    text-align: center;
    font-weight: 700;
    font-size: 7em;
    text-transform: uppercase;
}

#hello h2 {
    text-align: center;
}

#hello .hello-content {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
}

#hello .btn {
    color: white;
    font-size: 2em;
    font-weight: 300;
    border-radius: 0;
    background: none;
    border-color: white;
    margin-top: 40px;
}

#hello hr {
    width: 10%;
    border: 0;
    border-top: 1px solid white;
    display: inline-block;
}

#hello .hero-small span {
    font-size: 18pt;
    font-weight: 400;
    display: inline-block;
    margin: 0 20px 15px;
    position: relative;
    top: -12px;
}

#hello small span {
    font-size: 18pt;
    font-weight: 300;
    display: inline-block;
    margin: 0 20px 15px;
    position: relative;
    top: -12px;
}

#hello .hero-small span.fa {
    margin: 0 10px 0 0;
    font-size: 20pt;
    top: -3px;
}

#hello .hero-small .sep {
    width: 15px;
    display: inline-block;
}

#topics, #pricing {
    margin-top: 40px;
    margin-bottom: 40px;
}

#topics h2, #pricing h2 {
    font-size: 3em;
    font-weight: 200;
}

#topics .fa, #pricing .fa {
    color: #fe4918;
}

#topics h3, #pricing h3 {
    font-size: 1.5em;
}

#f {
    padding-top: 20px;
    background: #fe4918;;
}

#f a {
    color: white;
    font-weight: 800;
}

#f p {
    color: white;
    text-align: right;
    font-weight: 400;
}