/*
* red = #fe4918
*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    text-align: center;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}



#hello {

    background: url('img/bg1.jpg') center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    text-align: center;
    /*padding-top: 50px;*/
    /*margin-bottom: 30px;*/
    color: white;
    /*min-height: 850px;*/
}

#hello .red-glass {
    height: 100%;
    width: 100%;
    /*background: #fe4918;*/
    /*opacity: .95;*/
    background: rgba(40, 62, 87, 0.8);

    /*opacity: .8;*/
    padding-top: 20px;
    padding-bottom: 20px;
}

#hello .tsl {
    margin-top: 40px;
}

#hello h1 {
    text-align: center;
    font-weight: 700;
    font-size: 6em;
    text-transform: uppercase;
}

#hello h2 {
    text-align: center;
    margin-top: 0;
    /*margin-bottom: 40px;*/
}

#hello .hello-content {
    /*position: absolute;*/
    /*top: 50%;*/
    /*margin-top: -240px;*/
    /*left: 0;*/
    /*right: 0;*/
    margin-top:50px;
}

.btn.submit {
    color: white;
    font-size: 2em;
    font-weight: 300;
    border-radius: 0;
    background: none;
    border-color: white;
    /*margin-top: 80px;*/
}

.btn.submit:hover {
    color: #fe4918;
    background: white;
}

#hello hr {
    width: 10%;
    border: 0;
    border-top: 1px solid white;
    display: inline-block;
}

#hello span {
    font-size: 2em;
    font-weight: 400;
    display: inline-block;
    margin: 0 20px 15px;
    position: relative;
    top: -12px;
}

#hello span .sep {
    margin: 0;
    padding: 0;
    width: 0;
}

/*#hello small span {*/
/*font-size: 18pt;*/
/*font-weight: 300;*/
/*display: inline-block;*/
/*margin: 0 20px 15px;*/
/*position: relative;*/
/*top: -12px;*/
/*}*/

#hello span.fa {
    margin: 0 10px 0 0;
    font-size: 20px;
    top: -3px;
}

.navbar-header, #navbar {
    border: none;
}

.mobile-header {
    background: rgba(37, 37, 37, .9);
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background: none;
    color: #fe4918;
}

#sticky-nav {
    width: 100%;
}

#sticky-nav .navbar-inverse {
    border-radius: 0;
}

#sticky-nav .navbar-nav > li > a {
    font-weight: 400;
    color: white;
}

#sticky-nav .navbar-nav > li > a:hover, #sticky-nav .navbar-nav > li.active > a {
    color: #fe4918;
}

#sticky-nav.affix {
    position: fixed;
    top: 0;
    z-index: 10;
}

#about, #topics, #booking, #schedule, #instructors {
    padding-top: 40px;
    padding-bottom: 40px;
    color: black;
}

#about p, #topics p, #topics li, #booking p, #schedule p, #instructors p{
    font-size: 1em;
    line-height: 1.6em;
    font-weight: 300;
    text-align: justify;
}

#about h2, #topics h2, #booking h2, #schedule h2, #instructors h2 {
    font-size: 3.5em;
    font-weight: 100;
    margin-bottom: 40px;
}

#about .fa, #topics .fa, #booking .fa, #schedule .fa, #instructors .fa {
    color: #fe4918;
}

#about h3, #topics h3, #booking h3, #schedule h3, #instructors h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
    font-weight: 300;
}


.no-margin {
    margin: 0;
}

#about ul {

    padding-left: 0;
}

#about ul li {
    font-size: 1.2em;
    /*font-weight: 200;*/
    text-align: center;
    list-style-type: none;
}

#about h3 {
    margin-top: 10rem;
    font-size: 2.5em;
    font-weight: 100;
}

#schedule h3 {
    font-weight: 100;
}

#schedule .schedule-item {
    text-align: center;
    margin-bottom: 20px;
    border: 1px #c2c2c2 solid;
    /*padding: 20px 8px 40px;*/
    min-height: 380px;
}

#schedule .schedule-item h3{
    margin:0;
    padding:0;
}

#schedule .title {
    color: #fe4918;
    font-size: 1.2em;
}

#schedule .time:nth-of-type(n+2) {
    margin-top: 10px;
}

#instructors h3 {
    margin-top: 4px;
}

#instructors a {
    text-decoration: none;

}

#booking {
    background: #3D3D3D;
    color: white;
}

#booking .price {
    color: #fe4918;
    font-size: 3em;
    font-weight: 200;
}

#map-holder {
    height: 400px;
}

#f {
    padding-top: 20px;
    background: #fe4918;;
}

#f a {
    color: white;
    font-weight: 800;
}

#f p {
    color: white;
    text-align: right;
    font-weight: 400;
}

.paralax {
    background: url('./img/bg1.jpg') center bottom no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 80px;

}

.overlay {
    background: #25201f;
    opacity: .5;
    height: 80px;
}

@media (max-width: 767px) {
    #hello h1 {
      font-size: 3.8em;
    }

    #hello hr {
      display: none;
    }

    #hello .hello-content {
      margin-top: 60px;
    }
}

@media (max-width: 480px) {

    #hello h1 {
        font-size: 3em;
    }

    #hello span.fa {
        margin-right: 2px !important;
    }

    #hello span {
        font-size: 16px;
    }

    #hello .hello-content {
      margin-top: 100px;
    }

}
